/*Esconde a div de usuário logado*/
#usuario-logado{
    display: none;
}

/*Esconde a div de cadastro por padrão*/
#usuario-cadastro{
    display: none;
}

/*Centraliza os cards dentro do container*/
.card{
    width: 85%;
    margin-left: 15%;
}
.card-content > button{ 
    margin-top: 10%;
    margin-bottom: 2%;
}

/*css do materialize para manter o rodape no fim*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  /*css do materialize para manter o rodape no fim*/
  main {
    flex: 1 0 auto;
  }