
/*display default div usuário logado*/
#div-current-user{
    display: none;
}

/*display default div login*/
#div-login{
    display: none;
}

/*display default div de cadastro*/
#div-create-account{
    display: none;
}

/*Botão de adicionar no carrinho*/
.btn.remove{
    display: none;
}

/*Botão de adicionar no carrinho*/
.btn.buy{
    display: none;
}

/*Por padrão o contéudo dos cards são ocultos*/
.card-content{
    display: none;
}
/*Tamanho e margem do card de pedido*/
.card.horizontal{
    width: 300px;
    margin-left: 5%;
    margin-right: 20%;
}

/*Tamanho e margem do botão de remover pedido*/
.card-action > button{
    width: 130%;
    text-align: left;
    margin-left: 0px;
}

/*Total dos pedidos*/
#total-compra{
    color: green;
    font-style: italic;
    font-weight: bold;
}
/*Font e estilo dos cabeçalhos h1*/
h1{
    font-family: 'Franklin Gothic Medium';
    font-style: italic;
}
/*Centraliza os cards dentro do container*/
.card{
    width: 85%;
    margin-left: 15%;
    font-size: auto;
}

/*Cor de fundo, cor do texto e espaçamento dos preços*/
.card-image > p{
    background-color: black;
    color: white;
    width: 100%;
    height: 60px;
    padding-top: 5%;
    text-align: center;
}

/*Seletor do elemento irmão da primeira ocorrencia da tag p*/
.card-content p:last-of-type{
    font-style: italic;
    margin-top: 15%;
    font-weight: bold;
}

.card-content p:nth-last-child(2){
    font-style: italic;
    margin-top: 15%;
    font-weight: bold;
}

/*espaçamento entre os botões*/
.card-content > button{ 
    width: 100%;
    margin-top: 10%;
    margin-bottom: 2%;
}

/*margim do botão de enviar no login*/
#enviar-login{
   margin-right: 10px;
}

/*css do materialize para manter o rodape no fim*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  /*css do materialize para manter o rodape no fim*/
  main {
    flex: 1 0 auto;
  }
